torch
sentence-transformers
fastembed
neo4j
requests
pandas
python-dotenv
tqdm
pydantic
langchain
langchain-core
langchain-ollama
langchain-nvidia-ai-endpoints
langgraph
qdrant-client
ipykernel
ipywidgets
streamlit
jupyterlab>3.0
langchain-openai==0.2.1
